<ion-header>
  <ion-toolbar>
    <ion-title>Crear Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-segment formControlName="gender">
        <ion-segment-button value="male">Hombre</ion-segment-button>
        <ion-segment-button value="female">Mujer</ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Altura (cm)</ion-label>
      <ion-input type="number" formControlName="height"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Peso (kg)</ion-label>
      <ion-input type="number" formControlName="weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Objetivo</ion-label>
      <ion-select formControlName="goal">
        <ion-select-option value="lose_fat">Perder Grasa</ion-select-option>
        <ion-select-option value="gain_muscle">Ganar Masa</ion-select-option>
        <ion-select-option value="gain_weight">Ganar Peso</ion-select-option>
        <ion-select-option value="healthy_life">Vida Saludable</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="profileForm.invalid">Guardar Perfil</ion-button>
  </form>
</ion-content>
